@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,800);
.default-border {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 30px;
}
input,
textarea,
select,
.select,
.options,
.button {
  font-size: 0.8em;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input[type='text'],
input[type='password'],
textarea,
input[type='submit'],
input[type='button'],
input[type='reset'],
input[type='number'],
input[type='date'],
input[type='color'],
input[type='search'],
input[type='tel'],
input[type='email'],
input[type='url'] {
  -webkit-appearance: none;
}
input,
textarea,
select,
.select,
.options,
.button {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
input[type='text'],
input[type='password'],
textarea,
.select,
input[type='submit'],
input[type='button'],
input[type='reset'],
input[type='number'],
input[type='date'],
input[type='search'],
input[type='tel'],
input[type='email'],
input[type='url'],
.button {
  padding: 4px 8px;
  background-color: #FFFFFF;
}
input[type='text'],
input[type='password'],
textarea,
input[type='number'],
input[type='date'],
input[type='tel'],
input[type='email'],
input[type='url'],
.button {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  width: 170px;
}
input[type='search'] {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
input[type='text']:focus,
input[type='password']:focus,
textarea:focus,
select:focus,
.select.focus,
input[type='submit']:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='number']:focus,
input[type='date']:focus,
input[type='color']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='email']:focus,
input[type='url']:focus,
.button:focus {
  border: 1px solid #58ACFA;
  outline: 0;
}
input[type='text']:focus,
input[type='password']:focus,
textarea:focus,
.select.focus,
input[type='number']:focus,
input[type='date']:focus,
input[type='color']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='email']:focus,
input[type='url']:focus,
.button:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
input[type='submit'],
input[type='button'],
input[type='reset'],
.button {
  background-color: #f5f5f5;
  font-weight: bold;
}
input[type='submit'],
input[type='button'],
input[type='reset'],
.select,
.options,
.button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
input[type='submit']:hover,
input[type='button']:hover,
input[type='reset']:hover,
.button:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.selectContainer,
.select {
  display: inline-block;
  position: absolute;
}
.select,
.options div {
  width: 150px;
}
.options {
  position: absolute;
  z-index: 99;
  background-color: #FFFFFF;
}
.options div:hover {
  cursor: pointer;
  background-color: #58ACFA;
  color: #FFFFFF;
}
.options div {
  padding: 4px 8px;
}
select {
  z-index: -1;
}
body,
h1,
h2,
h3,
h4,
.button,
input {
  font-family: 'Open Sans', sans-serif;
}
body {
  font-size: 14px;
}
h1,
h2,
h3,
h4 {
  font-weight: 600;
  margin: 0px 0px;
}
hr {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
th {
  background-color: #a80000;
  color: white;
  border: 2px solid black;
}
td {
  padding: 5px;
}
form input {
  font-size: 1em;
}
.allegro-red {
  color: #EB2329;
}
.error {
  border: 1px solid rgba(231, 30, 23, 0.3);
  color: #e71e17;
  padding: 5px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
input,
.button {
  padding: 5px;
}
.button {
  color: #555555;
}
a {
  text-decoration: none;
}
.hidden {
  display: none;
}
body {
  padding-top: 50px;
}
body table,
body td {
  border: 1px solid black;
}
body h1 {
  padding: 0px 0px 20px 0px;
}
body h2 {
  padding: 10px 0px 10px 0px;
}
body #border {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 30px;
  list-style-type: none;
  display: inline-block;
}
body #content {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  text-align: center;
}
body #content #header {
  text-align: left;
  margin-bottom: 40px;
}
body #content #header img {
  height: 60px;
}
body #content #header #logout {
  display: inline;
  float: right;
}
body #footer {
  text-align: center;
  margin: 30px 0px 0px 0px;
}
body #footer hr {
  width: 250px;
}
#service {
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 30px;
  list-style-type: none;
  display: inline-block;
}
#service span {
  margin-left: 20px;
}
#service .form-input {
  padding-top: 20px;
  padding-bottom: 20px;
}
#service .form-input label {
  padding-right: 5px;
  float: left;
  width: 150px;
}
#service .form-input select {
  float: left;
  width: 90px;
}
#service .form-input input {
  width: 90px;
  float: left;
}
#service .header {
  font-weight: bold;
}
