<!DOCTYPE html>
<html>
	<head>	
		<title>Error</title>
		<link rel='stylesheet' type='text/css' href='/style/error.css'>
	</head>
	<body>
		<div id='content'>
			<% include pageLayoutTop %>
			<div id='error-message'>
				<p> <%= errorMessage %></p>
			</div>
			<% include pageLayoutBottom %>
		</div>
	</body>
</html>