<!DOCTYPE html>
<html>
	<head>
		<title>Title</title>
		<link rel='stylesheet' type='text/css' href='/style/index.css'>
	</head>
	<body>
		<% include pageLayoutTop %>
		<div>Something cool</div>
		<% include pageLayoutBottom %>
	</body>
</html>